@import './Globals';
@import '../components/App';
@import '../components/content/ContentContainer';
@import '../components/footer/Footer';
@import '../components/header/Header';

html, body, #root {
    height: 100%
}
  
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 40px !important;
    overflow-y: scroll;
}

@media (max-width: 576px) {
    body {
        font-size: 25px !important;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 20px !important;
    }
}