
/*Global SCSS variables*/
@import './Globals';

/*Component SCSS*/
@import '../components/App';
@import '../components/header/Header';
@import '../components/content/ContentContainer';
@import '../components/content/views/home/Home';
@import '../components/footer/Footer';

/*Google font*/
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar');

html, body, #root {
    height: 100%
}
  
body {
    font-family: 'Mukta Malar', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 40px !important;
    overflow-y: scroll;
}

@media (max-width: 576px) {
    body {
        font-size: 25px !important;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 20px !important;
    }
}