.ContentBox {
    margin-bottom: 30px;

    .box-title {
        border: 3px solid $highlight-color;
        border-bottom: none;
        padding: 2px 2px 0px 1%;
        font-size: 0.7em;
        background: black;
        color: white;
    }

    .box-content {
        border: 3px solid $highlight-color;
        font-size: 0.45em;
        background: #258EA6;
    }

    p {
        margin: 1%;

        p {
            margin: 0;

            h3, h4, h5 {
                margin: 0;
            }
        }

        h3, h4, h5 {
            margin: 0;
        }
    }
}