.ContentContainer {
    width: 100%;
    margin: 0 auto;
    min-height: $content-height;

    .content {
        width: 98%;
        box-sizing: border-box;
        padding: 35px 2% 35px 2%;
        margin: 0 auto;
    }
}