.App {
    height: 100%;

    .content {
        width: 98%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 35px 7% 35px 7%;
        margin: 0 auto;
        min-height: $content-height;
        display: flex;
        flex-direction: column;

        div:first-child {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
    
    .content-box {
        margin-bottom: 30px;
        background: $content-background;
        color: $content-color;
        border: 3px solid $content-color;
        flex: 1;

        .box-title {
            margin: 0;
        }
    
        .box-content {
            font-size: 0.45em;
            padding: 1% 3% 3% 3%;
            
            p {
                margin: 0;
                margin-top: 15px;
            }

            h3 {
                margin-bottom: 0;
            }
        }
    }
    
    .content-box:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .App {
        .content-box {
            .box-content {
                padding: 2% 7% 5% 7%;
            }
        }
    }
}