.ContactPage {
    position: relative;

    .temporary-content {
        .link-container {
            margin-top: 20px;
        }

        h1, h5 {
            margin: 0;
        }
    }

    .content-box {
        .box-content {
            .contact-area {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;

                h4 {
                    margin-left: 0;
                }

                h5 {
                    margin-top: 0;
                }

                input[type=text], textarea {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $active-hover-color;
                    border-radius: 4px;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    margin-bottom: 10px;
                }

                textarea {
                    resize: none;
                    height: 200px;
                }

                input[type=submit] {
                    width: 15%;
                    background: black;
                    color: white;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border: 3px solid $active-hover-color;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 0.9em;
                    font-weight: bold;

                    &:hover {
                        background: $active-hover-color;
                        color: black;
                    }
                }
            }
        }
    }
}