$mobile-nav-expand-time: 0.5s;

.Header {

    .nav-header {
        background-color: $head-foot-background;
        height: $head-height;
        width: 100%;
        display: flex;
        align-items: center;
        
        .header-title-container {
            font-family: $title-font;
            width: 60%;
            height: 100%;
            font-size: 1em;
            display: flex;
            align-items: center;
    
            .header-title {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 3px;
    
                &:hover {
                    cursor: pointer;
                    color: $active-hover-color;
                }
            }
        }
    
        .navigation {
            width: 40%;
            height: 100%;
            display: block;
            padding-right: 2%;
    
            .nav-menu {
                height: 100%;
                margin-top: 0;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
    
                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.4em;
                    height: 50%;
                    width: 32%;
    
                    &.active {
                        background: $active-hover-color;
                    }
    
                    &:hover {
                        cursor: pointer;
                        background: $active-hover-color;
                    }
                }
            }
        }
    
        .navigation-dropdown {
            display: none;
        }
    }

    .mobile-nav-collapse {
        display: none;
    }
}

@media (max-width: $mobile-width) {
    .Header {
        .nav-header {
            .header-title-container {
                width: 80%;
            }

            .navigation {
                display: none;
            }

            .navigation-dropdown {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 0;
                padding-right: 1%;
                height: 100%;
                width: 20%;

                .nav-dropdown-button {
                    width: 54px;
                    height: 54px;
                    background: none;
                    border: none;
                    outline: none;
                    border-radius: 10%;

                    .icon-bar {
                        background: $body-color;
                        display: block;
                        width: 34px;
                        height: 2px;
                        border-radius: 1px;
                        margin: 8px auto;
                    }

                    &:hover .icon-bar {
                        cursor: pointer;
                        background: $active-hover-color;
                    }
                }
            }
        }

        .mobile-nav-collapse {
            height: 100px;
            width: 100%;
            background: $head-foot-background;
            transition: height $mobile-nav-expand-time;
            -webkit-transition: height $mobile-nav-expand-time;
            -moz-transition: height $mobile-nav-expand-time;
            -o-transition: height $mobile-nav-expand-time;
            display: block;
            overflow: hidden;

            ul {
                height: 100%;
                margin-top: 0;
                margin-bottom: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 0;

                li {
                    height: 33%;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    padding-left: 40px;
                    transition: opacity $mobile-nav-expand-time, font-size $mobile-nav-expand-time;
                    -webkit-transition: opacity $mobile-nav-expand-time, font-size $mobile-nav-expand-time;
                    -moz-transition: opacity $mobile-nav-expand-time, font-size $mobile-nav-expand-time;
                    -o-transition: opacity $mobile-nav-expand-time, font-size $mobile-nav-expand-time;
                }
            }

            &.hidden {
                height: 0px;
    
                ul {
                    li {
                        min-height: 33px;
                        opacity: 0;
                        font-size: 0em;
                    }
                }
            }
    
            &.expanded {
                height: 100px;
    
                ul {
                    li {
                        opacity: 1;
                        font-size: 0.5em;

                        &:hover {
                            cursor: pointer;
                            background: $active-hover-color;
                        }
        
                        &.active {
                            background: $active-hover-color;
                        }
                    }
                }
            }
        }
    }
}