
.InlineLink {
    color: $link-color;
    text-decoration: underline;

    &:hover {
        color: $link-hover-color;
        cursor: pointer;
    }
    
    &:visited {
        color: $link-hover-color;
    }
}