.Footer {
    background: $header-footer-background;
    height: $footer-height;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid $highlight-color;

    .footer-content {
        width: 75%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $header-footer-font-color;
        font-size: 0.75em;

        .footer-title-container {
            width: 100%;
            font-family: $title-font;
            font-size: 0.6em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-links {
            width: 100%;

            ul {
                width: 100%;
                font-size: 0.4em;
                padding-left: 0;
                margin-top: 0;
                margin-bottom: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                list-style: none;

                li {
                    width: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        color: $highlight-color;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}